html,body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: #444
}
a {
	text-decoration: none;
	color: #57fffc;
	width: 100%;
	display: inline-block
}
#btn {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	position: fixed;
	right: 100px;
	bottom: 100px
}
#btn:hover {
	background: #ccc
}
.content {
	max-width: 1200px;
	padding: 10px;
	margin: 70px auto;
	overflow: hidden
}
.level_1 {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	border-radius: 10px
}
.level_1 .level_2 {
	width: 25%;
	box-sizing: border-box
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.level_1 .level_2 {
		width: 50%
	}
}
@media screen and (max-width:767px) {
	.level_1 .level_2 {
		width: 50%
	}
}
.level_1 .level_2:nth-child(2n) a {
	color: #ffc300
}
.level_2 .title_2 {
	color: #fff;
	width: 100%
}
.level_2 div {
	width: 49%;
	float: left;
	text-align: center;
	margin-bottom: 4px;
	background: #666;
	line-height: 45px;
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}
.level_2 div:nth-child(2n) {
	margin-right: 1%
}
.level_2 div:hover {
	background: #888
}
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(250,255,255,.5)
}
header .logo {
	color: #484848;
	text-align: center;
	font-size: 30px
}
header .logo img {
	width: 40px;
	vertical-align: -10px;
	border-radius: 100px;
	animation: donghua 1.7s linear infinite;
	-webkit-animation: donghua 1.7s linear infinite;
	-moz-animation: donghua 1.7s linear infinite;
	-o-animation: donghua 1.7s linear infinite;
	-ms-animation: donghua 1.7s linear infinite
}
footer {
	width: 100%;
	background-color: #000;
	padding-top: 10px;
	height: 50px;
	color: #fff;
	text-align: center
}
@-webkit-keyframes donghua {
	0% {
		transform: rotate(0);
		-ms-transform: rotate(0);
		-moz-transform: rotate(0);
		-webkit-transform: rotate(0);
		-o-transform: rotate(0)
	}
	100% {
		transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg)
	}
}
@-moz-keyframes donghua {
	0% {
		transform: rotate(0);
		-ms-transform: rotate(0);
		-moz-transform: rotate(0);
		-webkit-transform: rotate(0);
		-o-transform: rotate(0)
	}
	100% {
		transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg)
	}
}
@-ms-keyframes donghua {
	0% {
		transform: rotate(0);
		-ms-transform: rotate(0);
		-moz-transform: rotate(0);
		-webkit-transform: rotate(0);
		-o-transform: rotate(0)
	}
	100% {
		transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg)
	}
}
@-o-keyframes donghua {
	0% {
		transform: rotate(0);
		-ms-transform: rotate(0);
		-moz-transform: rotate(0);
		-webkit-transform: rotate(0);
		-o-transform: rotate(0)
	}
	100% {
		transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg)
	}
}
.search {
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: center;
}
#text {
	width: 440px;
	height: 36px;
	box-sizing: border-box;
	border: 0px;
	text-indent: 4px;
}
#text:focus {
	outline: none;
}
#sou {
	width: 100px;
	height: 36px;
	background: #3385FF;
	border: 0px;
	margin-left: 10px;
}
#sou:hover {
	cursor: pointer;
	border: 0
}